.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px gray; 
}

.note
{
    font-size:15px;
    color:black;
}

.copy_right_footer
{
    position: fixed;
    bottom:0;
    text-align: center;
    width:100%;
    color: lightcoral;
    background-color: lavender;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgb(175, 98, 98);
}

canvas 
{

    border:5px solid white;
    background-color: lightgray;
    border-radius:20px;
    box-shadow: 10px 10px 10px lightpink;
    margin-top:30px;
}